<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <p style="font-weight: bold;"> ANTICA</p>
                            
    <b>1: Le prime fotografie dal 1839 fino al 1880</b>
    <br> 
    In questa prima tappa della storia della fotografia torniamo ai suoi albori. Il 19 agosto 1893 viene considerato il giorno in cui è nata la fotografia. L'accademia delle arti di Parigi 
    espose infatti in quella data la prima camera oscura. Con questa Joseph Nicéphore Niépce era stato in grado, già tredici anni prima, di scattare la prima foto.
    <br>
    <b>2: L'industrializzazione della fotografia</b>
    <br>
    L'industrializzazione arriva anche nel settore fotografico. Intorno al 1890 le macchine con il rullino sostituiscono le macchine fotografiche a lastra in uso fino a quel momento. 
    La seconda tappa di questa carrellata si concentra proprio su questo tema e sulla Kodak nr. 1.
    <br>
    <b>3: La fotografia a partire dal 1925 e le macchine Leica</b>
    <br>
    Ernst Leitz II e Oskar Barnack hanno rivoluzionato con la Leica, e il suo formato 24X36 mm, il mondo della fotografia. La macchina fu presentata per la prima volta alla fiera di primavera 
    di Lipsia „Kino, Foto, Optik und Feinmechanik“. Anche Harold E. Edgerton contribuì a questi progressi presentando la creazione di un flash elettronico. Partendo da queste invenzioni,
    la Exakta modello B, della ditta di Dresda “Ihagee”, è stata la prima macchina fotografica dotata di sincronizzazione del flash.
    
    La terza parte del nostro viaggio è principalmente dedicata alle Leica 35 mm e all'invenzione del flash.
    
    <br>
    <div class="coloreMedioChiaro">
        <b>4: La scoperta delle pellicole a colori nel 1936</b>
        <br>
        Nell'ottobre del 1936 viene presentata la prima pellicola a colori a disposizione per tutte le macchine fotografiche: la pellicola Agfa color new.
        Esistevano anche prima di questa data le pellicole a colori, che però erano utilizzabili solo con le macchine Leica e Contax. La Agfa AG, invece, rese le fotografie a colori 
        una realtà per chiunque. Scoprite insieme a noi questo quarto capitolo della storia della fotografia dedicato alle aziende pioniere dei rullini a colori.
    </div>
    <br>
    <div class="coloreChiaro" >
        <b> 5: L'avvento delle reflex negli anni sessanta</b>
        <br>
        La quinta tappa è dominata dalle tantissime novità degli anni '50 e '60. Dopo una fase di sviluppi durata 320 anni, è finalmente approdata sul mercato la prima macchina reflex.
        Già nel 1686 era stato descritto dall'ottico Johann Zahn il principio di riflessione attraverso uno specchio. Nel 1963 Canon inizia la produzione della prima macchina con le impostazioni 
        di messa a fuoco automatiche. Nel giro dei successivi dieci anni, Rollei batte un nuovo record presentando la prima fotocamera completamente automatica.
    </div>
</body>
</html>