<!DOCTYPE html>

<head>
    
</head>
<body>
    <p> <b> CURIOSITA'</b></p>
                            Il mondo della fotografia affascina da sempre grandi e piccini. Non tutti sanno però come è nata la fotografia e, inoltre, è divertente scoprirne alcuni aspetti meno noti. Chi non si è mai chiesto, ad esempio,
                            perché nelle vecchie foto le persone non sorridono mai?
                            <br>
                           <b> Quando nasce la fotografia? </b>
                            <br>
                             La fotografia nasce nel 1839. Il 7 gennaio ci fu l’annuncio ufficiale da parte dello studioso François Jean Dominique Arago, eletto deputato nel 1830, 
                            che spiegò all’Accademia di Francia l’invenzione di Louis Daguerre, la dagherrotipia.
                            <br>
                           <b> Cosa è il dagherrotipo? </b>
                            <br>
                            Il dagherrotipo è un apparecchio usato per la dagherrotipia, ossia il primo procedimento fotografico per lo sviluppo di immagini (tuttavia non riproducibili). Fu messo a punto dal francese Louis Jacques Mandé Daguerre da un’idea di Joseph Nicéphore Niépce e del figlio di questi.
                            <br>
                           <b>3. Perché nelle vecchie foto non sorridono mai? </b> 
                            <br>
                            Innanzitutto dato il lungo periodo di posa richiesto le persone non riuscivano a rimanere sorridenti, inoltre, un ritratto fotografico doveva rappresentare e preservare l’immagine dei 
                            vivi per le generazioni future. Le foto dovevano essere serie e non divertenti o effimere. Esplicativa la una citazione di Mark Twain: “Credo che la fotografia sia il documento più
                             importante e non c’è niente di peggio di lasciare alla <div class="coloreMedioChiaro">posterità uno stupido sorriso catturato e fissato per sempre nel tempo”. Ecco perché le persone non sorridono mai nelle vecchie foto
                            <br>
                            <b>  Perché alcune foto con i bambini sono strane?</b>
                             <br>
                             Quando si trattava di fotografare i bambini non era facile. La maggior parte delle volte le madri si sedevano coperte e mascherate dietro teli tenendo fermi i loro bambini.
                            <br>
                           <b> Perché esistono le foto post-mortem?</b>
                            <br>
                             In epoca vittoriana, il tasso di mortalità infantile era molto elevato e non di rado le </div> <div class="coloreChiaro">fotografie post mortem erano l’unica foto che i genitori avevano dei loro figli. 
                             Esistono foto post mortem anche con adulti. Per alcuni è collegata alla pratiche di tanatometamorfosi (trattamento delle spoglie). Una sorta di mummificazione visiva, dove il defunto 
                             sembra vivo (grazie alla posa, gli occhi aperti, la vicinanza ad altre persone) per esprimere lo stato di salute dello spirito del defunto.
                            <br>
                           <b> Quando è nata la fotografia digitale?</b>
                            <br>
                             La prima immagine digitale fu creata nel 1957 da parte dello scienziato Russell Kirsch. Le prime macchine fotografiche elettroniche vengono sperimentate negli anni ’70. 
                             L’industria fotografica pensa soprattutto ai foto-giornalisti. Negli anni ’80 si diffonde la scansione digitale delle immagini. Le agenzie, soprattutto Associated Press, utilizzavano,
                              infatti, il sistema noto come AP Leaf Picture Sistem per inoltrare immagini elettroniche alle redazioni. Nel 1986 la Kodak presenta il primo sistema basato su megapixel.
                            </div>  
</body>
</html>