<!DOCTYPE html>

<head>
    
</head>
<body>
    <p style="font-weight: bold;"> MODERNA</p>
    <b> 6: Il successo delle fotocamere istantanee</b>
     <br>
     Nella sesta parte della storia della fotografia parleremo del successo delle fotocamere istantanee. Nel 1976, alla fiera “Photokina”, Kodak presenta il primo modello di macchina 
     istantanea di quella che poi sarà la serie EK. In seguito inizierà però con Polaroid una disputa sul brevetto che porterà Kodak a interrompere la sua produzione.

     <br>
    <b> 7: Il dilagare della fotografia digitale</b>
     <br>
     Nel 1991 Dycam ha presentato alla CeBIT il modello 1, cioè la prima vera fotocamera digitale. Un anno dopo altre importanti aziende, come Kodak e Rollei, hanno messo sul mercato i loro
     modelli. Nella parte sette della nostra storia fotografica trovate tutte le informazioni relative all’avvento della fotografia digitale.
     Oggi è possibile fotografare tutto con uno smartphone, persino i fuochi d’artificio.
     <br>
    <b>8: Tutto nuovo con il nuovo millennio: le fotocamere-smartphone</b> 
     <br>
     La penultima tappa della nostra storia della fotografia è dedicata alla diffusione delle fotocamere presenti negli smartphone.
     Mentre in Giappone il primo cellulare dotato di fotocamera è arrivato sul mercato nel 1999, in Europa si sono dovuti attendere altri tre anni per avere i primi modelli.
     Nel 2002 arrivano infatti sul mercato i primi cellulari dotati di macchina fotografica, il Nokia 7650, il Panasonic EB-GD87 e <div class="coloreMedioChiaro">lo Sharp GX10.
     <br>
     
     <b> 9: Action-cam, droni e altre novità</b>
         <br>
         Con la GoPro 35mm, una action camera, si è segnato l’avvento di una nuova innovazione in ambito fotografico. A questa sono seguite altre novità,
         come gli smartphone, i droni e le aste per i selfie. Nell’ultima parte della nostra storia della fotografia vi informeremo su tutte le ultime novità e daremo un breve sguardo ai 
         cambiamenti in arrivo.
     </div>
</body>
</html>