<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    
  
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


        .bottonim3 button{
                border-radius: 20px;
                font-size: 2.3vw; 
                margin-bottom: 50px;
                font-family: 'Poiret One', cursive;
                text-align: center;
                background-color:rgb(48, 49, 58);
                color: white;
                border: none
                
                
            }

            .bottonim3 button:hover{
                background-color: rgb(8, 136, 255);
                border: none;
                font-weight: bold;
            }
    </style>
</head>
<body>

    <p style="font-family: 'Julius Sans One', sans-serif; font-size: 30px;">
     <table>
         <tr>
             <th>
                <b style="font-size: 45px; color: red; font-weight: bold;">MODULO3: IL DIAFRAMMA</b> 
             </th>
             <th>
                <img src="../../utility/Img/diaphragm.png" style="width: 50px; height: 50px;">
             </th>
         </tr>
     </table> <br><br>
    <b style="color: black; font-weight: bold; font-size: 35px;">Il DIAFRAMMA</b> è un elemento meccanico che si trova all’interno degli obiettivi fotografici.<br>
    Esso ha la particolarità di poter creare un foro di dimensioni variabili (in base alle impostazioni)
    in modo tale da poter regolare la quantità di luce che passa all’interno dell’obiettivo.<br>

    Quindi,<br>
    se c’è una luce molto intensa puoi decidere di farne passare poca;<br>
    se c’è una luce poco intensa (ambienti bui) poi decidere di farla passare tutta.<br>

    L’apertura focale del diaframma viene indicata in valori numerici anticipati dal prefisso f/ (f/1, f/1.4, f/2, f/2.8, f/4, ecc...).<br>
    Se il valore del diaframma è alto allora risulterà un'apertura molto piccola; se il valore è basso allora corrisponderà un'apertura molto ampia.<br><br>
    

    <u style="font-weight: bold; color: black;">Il diaframma e la profondità di campo</u><br>
    <b style="color:  rgb(194, 182, 182);"> Un obiettivo è in grado di mettere a fuoco solo a una precisa distanza.<br>
    Ciononostante, soggetti più vicini o più lontani rispetto a quello messo a fuoco, possono comunque risultare nitidi in una fotografia.<br>
    Questa zona di nitidezza apparente può essere tanto piccola da non essere quasi percepibile o può aumentare tanto da far vedere i soggetti nitidi fino all’orizzonte.<br>
    Ciò appena spiegato è <b style="font-weight: bold;">la profondità di campo</b> e può essere gestita tramite l'utilizzo del diaframma:</b><br><br>

    <b style="color: rgb(231, 213, 213); font-weight: bold;">
    - Valore del diaframma ALTO -> apertura piccola -> tanti elementi a fuoco; <br>
    - Valore del diaframma BASSO -> apertura ampia -> pochi elementi a fuoco; <br>
    </b>

    </p>
     

   
    <center>
        <table class="bottonim3" style="min-height:100px;">
            <tr >
                <th>
                    <button class="btn" onclick="caricaImg('../../utility/Img/diaframma3.5.jpeg', '#apparizione');" style="margin-right: 50px;  margin-left: 10px;">3.5</button>
    
                </th>
                <th>
                    <button class="btn" onclick="caricaImg('../../utility/Img/diaframma6.3.jpeg', '#apparizione');"style="margin-right: 50px;  margin-left: 10px;">6.3</button>
                </th>
            
               <th>
                <button class="btn" onclick="caricaImg('../../utility/Img/diaframma11.5.jpeg', '#apparizione');"style="margin-right: 50px;  margin-left: 10px;">11.5</button>
            </th>
               <th>
                <button class="btn" onclick="caricaImg('../../utility/Img/diaframma15.jpeg', '#apparizione');"style="margin-right: 50px;  margin-left: 10px;">15</button>
            </th>
    
               <th>
                <button class="btn" onclick="caricaImg('../../utility/Img/diaframma20.jpeg', '#apparizione');"style="margin-right: 50px;  margin-left: 10px;">20</button>
            </th>
              
            </tr>
        </table>
    </center>
        <center>
        <div id="apparizione" style="margin-bottom: 50px;border-left: 100px; border-radius: 30px;"></div>
        </center>
            
        
       
    <b style="font-family: 'Julius Sans One', sans-serif; font-size: 30px; color: rgb(231, 213, 213);">
        (Ora che hai appreso questi concetti fondamentali, non ti resta che mettere in atto le tue nuove abilità con il nostro TOOL!)
    </b>

    

</body>
</html>