<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/fontawesome-free-5.13.0-web/css/all.css">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <script type="text/javascript" lang="javascript" src="../css/bootstrap.min.css"></script>
        <script type="text/javascript" lang="javascript" src="../../css/fontawesome-free-5.13.0-web/css/all.css"></script>
        <title>Questa è la pagina dedicata alla storia della fotografia.</title>
        

      
        
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
        <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
        
        <style type="text/css">
            .view {
                background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
                 }
                 /* per mettere REGISTRAZIONE a destra */
             .row{
                 padding: 0 16px;
             }
             /* per mettere la lineva verticale tra LOGIN e REGISTRAZIONE */
             /* float specifica dove l'elemento viene disposto*/
             div.sinistra, div.destra {
                 float: left;
                 width: 50%
                 
             }
             div.sinistra {
                 border-right: 1px solid #000;
                 padding-right: 20px;
             }
             div.destra {
                 padding-left: 20px;
             }
                 
            </style>
           
    </head>

    <body>
        <!--Creo la navbar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <!--Creo il buttone mobile-->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Rende la navbar stabile-->
        <div class="collapse navbar-collapse" id="collapse_target">
        <!--Creo il logo-->
        <a class="navbar-brand" href=""> <img=""></a>
        <!--Creo i link a sinistra-->
        <ul class="navbar-nav">
           
            <li class="nav-item">
            <a href="HomeSito.html"> <i class="btn fas fa-home nav-link"  style="font-size:20px; color:white;">  <br>Home </i></a>
           </li>

           <li class="nav-item">
            <a href="CorsoSito.html"> <i class="btn fas fa-book nav-link"  style="font-size:20px; color:white;">  <br>Corso </i></a>
           </li>

           <li class="nav-item">
            <a href="ToolSito.html"> <i class="btn fas fa-tools nav-link"  style="font-size:20px; color:white;">  <br>TOOL </i></a>
           </li>

           <li class="nav-item">
            <a href="StoriaSito.html"> <i class="btn fas fa-camera nav-link"  style="font-size:20px; color:white;">  <br>Storia </i></a>
           </li>
            
           <li class="nav-item">
            <a href="TutorialSito.html"> <i class="btn fas fa-pen nav-link"  style="font-size:20px; color:white;">  <br>Tutorial </i></a>
           </li>
   
            <li class="nav-item">
                <a href="ChiSiamoSito.html"> <i class="btn fas fa-question nav-link" style="font-size:20px; color:white;" >  <br>Chi Siamo </i></a>
            </li>
        
        </ul>
   </div>
   <!--Creo i link a destra-->
   <div class="nav-item" data-toggle="modal" data-target="#logReModal">
        <a> <i class="btn fas fa-users nav-link" style="font-size:45px; color:white;">  </i></a>
   </div>

   </nav>
   

    <!--
        -"Dialog" usata per creare una finestra che appare sopra il contenuto della pagina
        - "Modal" classe bootstrap che permette la creazione della finestra dialog
        - "Modal fade" permette di nascondere la finestra prima che viene richiesta
    -->
    <div class="modal fade" role="dialog" id="logReModal">
        <div class="modal-dialog">
            <div class="modal-content">
                 
            <div class="row">
                     <!--Log in-->
                     <div class="sinistra">
                    <div class="column">
                        <div class="modal-header">
                            <h3 class="modal-title">Login</h3>
                        </div>
               
                        <div class="modal-body">
                             <div class="form-group">
                                 <input type="email" name="emailLog" class="form-control" placeholder="Email">
                            </div>
                             <div class="form-group">
                                <input type="password" name="passwordLog" class="form-control" placeholder="Password">
                            </div>

                           
                            <a class="text-center">  <button type="submit" class="btn  btn-dark">Sign In</button>  </a>
                            
                        </div>
            
                    </div>
                    </div>

    
                     <!--Registrazione-->
                     <div class="destra">
                    <div class="column">
                        <div class="modal-header">
                            <h3 class="modal-title">Registrazione</h3>
                            <button type="button" class="close" data-dismiss="modal"> &times;</button>
                        </div>
               
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" name="nome" class="form-control" placeholder="Nome">
                            </div>
                            <div class="form-group">
                                <input type="text" name="cognome" class="form-control" placeholder="Cognome">
                            </div>
                             <div class="form-group">
                                <input type="email" name="emailRe" class="form-control" placeholder="Email">
                            </div>
                             <div class="form-group">
                                <input type="password" name="passwordRe" class="form-control" placeholder="Password">
                            </div>
                            
                            <button type="submit" class="btn  btn-dark">Registrati</button>
                       
                            
                        </div>
                     </div>
                    </div>

            </div>
          </div>
        </div>
    </div>
        <div class="view intro hm-purple-light" style="height: 400px;"></div>
        <h1>TO DO</h1>
        <p>In questa pagina verranno inseriti gli aspetti più significativi della storia della fotografia</p>
       
           
        
    </body>
</html>