<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/fontawesome-free-5.13.0-web/css/all.css">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <script type="text/javascript" lang="javascript" src="../css/bootstrap.min.css"></script>
        <script type="text/javascript" lang="javascript" src="../../css/fontawesome-free-5.13.0-web/css/all.css"></script>
        <title>Questa è la pagina dedicata al Tool di modifica in tempo reale di foto.</title>
    </head>

    <body>
        <h1>TO DO</h1>
        <p>In questa Pagina verrà inserito il Tool di modifica in tempo reale di foto.</p>
    </body>
</html>