<!DOCTYPE html>

<html>

    <head>
       <title>Imago</title>

       <!-- Link al file css specifico per questa pagina. Ne ho usato uno apposito perchè lo
       stile è completamente diverso da quello di bootstrap. -->
       <link rel="stylesheet" href="../../css/PreIndice.css">

        <!-- Importazione fonts Google -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ewert">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore">

        <!-- Sript per il reindirizzamento senza tag a. 
        viene invocata al clic delle card. -->
        <script type="text/javascript">
            function redirect(link){
                location.href = link;
            }
        </script>

    </head>

    <body>

        <div class="hero-image"></div>

        <!-- Container principale della pagina -->
        <div class="container">

            <h1 class="titolo-principale">Imago</h1>

            <!-- Container delle cards -->
            <div class="card-container">

                <!-- Card 1 -->
                <div id="card1" class="card" onclick="redirect('https:/'+'/'+'www.google.it')">
                    <div class="hero-image-card" style="background-image: url(../../public/img/tramonto.jpg);"></div>
                    <div class="container">
                        <h1 class="card-font">Non me ricordo</h1>
                        <p>Testo che descrive cosa c'è qui</p>
                    </div>
                </div>

                <!-- Card 2 -->
                <div id="card2" class="card" onclick="redirect('https:/'+'/'+'www.google.it')">
                    <div class="hero-image-card" style="background-image: url(../../public/img/macchinaFotografica.jpg);"></div>
                    <div class="container">
                        <h1 class="card-font">Corso</h1>
                        <p>
                            Corso interattivo adatto per tutti.
                            Impara i concetti fondamentali della fotografia.
                        </p>
                    </div>
                </div>

                <!-- Card 3 -->
                 <div id="card3" class="card" onclick="redirect('https:/'+'/'+'www.google.it')">
                    <div class="hero-image-card" style="background-image: url(../../public/img/macchinaFotografica2.jpg);"></div>
                    <div class="container">
                        <h1 class="card-font">Registrati</h1>
                        <p>
                            Registrati per poter utilizzare funzionalità premium
                            come il Tool di modifica delle foto!
                            Cosa aspetti, è gratis!!!
                        </p>
                    </div>
                </div>

            </div>

        </div>


    </body>
 
</html>