<!DOCTYPE html>

<html style="min-height: 100%;">

    <head>
        
        <!-- link al foglio di stile di bootstrap
        usato come foglio di stile base ma implementare poi il nostro stile per ottenere gli effetti fighi -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">

        <!-- link al css index.css -->
        <link rel="stylesheet" href="../css/index.css">
    </head>

    <body>

        <div class=" hero-image"></div>
        
        <!-- NAVBAR -->
        <!-- <nav class="navbar navbar-light bg-light">
            <a class=" navbar-brand" href="/view/index.html">Imago</a>
        </nav> -->

        <!-- CONTAINER PRINCIPALE -->
        <div class="container">

        </div>

    </body>

</html>