<!DOCTYPE html>

<html style="min-height: 100%;">

    <head>
        
        <!-- link al foglio di stile di bootstrap
        usato come foglio di stile base ma implementare poi il nostro stile per ottenere gli effetti fighi -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">

        <!-- link al css index.css -->
        <link rel="stylesheet" href="../css/index.css">

        <link href='https://fonts.googleapis.com/css?family=Ewert' rel='stylesheet'>
    </head>

    <body>

        <div class=" hero-image"></div>

        <div class=" hover-container">
            <h1>Imago</h1>
            <h2 class=" pt-3">Tante belle cose da scrivere sul sito</h2>
            <h2>più bello del mondo</h2>
        </div>
        
        <!-- NAVBAR -->
        <!-- <nav class="navbar navbar-light bg-light">
            <a class=" navbar-brand" href="/view/index.html">Imago</a>
        </nav> -->

        <!-- CONTAINER PRINCIPALE -->
        <!-- <div class="container" style="height: 100%; width: 100%;">

            <div class="container hover-container" style="min-height: 60%; min-width: 70%;">

            </div>
                

        </div> -->

    </body>

</html>